.pump-container {
  margin-top: 80px;
  display: flex;
}

.left-pump-container {
  height: 63vh;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 1vh;
}

.left-pump-form {
  overflow-x: auto;
  border-radius: 0.4rem;
  border: 1px solid #ddd;
  background-color: #fff;
  overflow-y: auto;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none;
  width: 100%;
  height: 55vh;
  max-height: 600px;
  margin: 5vh;
  padding: 40px 40px;
  gap: 2%;
}

.right-pump-container {
  overflow-x: auto;
  border-radius: 0.4rem;
  border: 1px solid #ddd;
  background-color: #fff;
  overflow-y: auto;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none;
  width: 90%;
  height: 79vh;
  max-height: 600px;
  margin: 5vh;
}

.header-of-table{
  font-size: larger;
  
}

.filter-btn{
  color: black;
  background-color: #fff;
}

.customTextField {
  width: 40%;
}

.customInput {
  border-radius: 15px;
  height: 42%;
  border-width: 1px;
  border-style: solid;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.view-more-container {
  position: sticky;
  bottom: 0;
  background-color: #fff; /* Adjust the background color as needed */
  padding: 10px;
  text-align: center;
  color: #1976D2;
}

.hr-lin {
  border-top: 1px solid #7f7f7f; 
  width: 100%; 
  margin-top: 0rem;
  margin-bottom: 2rem;
}

.pump-feeder-select{
  width: auto;
  height: 40px;
  border-radius: 7px;
  border-width: initial;
}

@media screen and (max-width: 431px) and (min-width:375px){

  .pump-container{
    display: flex;
    flex-direction: column;
  }
  .left-pump-container{
    width: 110%;
  }
  .pump-feeder-select{
    width: auto;
  }

  .right-pump-container{
    width: max-content;
  }

  .MuiPaper-root {
    width: 100%;
    margin: 0;
    border-radius: 0; /* Remove border radius if needed */
  }
  .MuiTableContainer-root {
    max-height: none;
  }
  .MuiTableCell-head {
    padding: 15px 5px; /* Decrease padding for smaller screens */
  }
  .MuiTableCell-body {
    padding: 5px 5px; /* Decrease padding for smaller screens */
  }
  .MuiTableContainer-root {
    overflow-x: auto;
  }
  .MuiTypography-body {
    font-size: 12px; /* Decrease font size for smaller screens */
  }
  .MuiTypography-h6 {
    font-size: 14px; /* Decrease font size for smaller screens */
  }

}
