.pump-container {
  margin-top: 80px;
  display: flex;
}

.left-pump-container {
  height: 63vh;
  width: 45%;
}

.left-pump-form {
  background-color: #fff;
  padding: 20px;
  width: 70%;
  margin: 50px auto 0 auto;
  height: 63vh;
  border-radius: 0.4rem;
  border-collapse: collapse;
  gap: 2%;
}

.right-pump-container {
  overflow-x: auto;
  border-radius: 0.4rem;
  border: 1px solid #ddd;
  background-color: #fff;
  overflow-y: auto;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none;
  width: 55%;
  margin-top: 50px;
  height: fit-content;
  max-height: 600px;
}

.filter-btn{
  color: black;
  background-color: #fff;
}
