.tabs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: min-content;
  flex-wrap: wrap;
  gap: 100%;
  margin-left: 10%;
  top: 50%;
}

/* Styles for individual tab buttons */
.MuiButtonBase-root.MuiTab-root {
  padding: 60px;
  background-color: #69686D;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

/* Styles for list items inside the tab container */
.tabs-container li {
  font-size: 18px;
  color: red;
}


/* Responsive styles for mobile devices */
@media screen and (max-width: 426px) {
  .tabs-container {
    gap: 0%;
    margin-left: 0%;
    
  }
  
  /* Styles for individual tab buttons */
  .MuiButtonBase-root.MuiTab-root {
    padding: 5px;
    background-color: rgba(147, 193, 222, 0.8);
    border-radius: 10px;
    color: black;
  }
}

/* Responsive styles for tablet devices */
@media screen and (max-width: 1024px) { /* Adjusted for tablet devices */
  .tabs-container {
    gap: 20%; /* Adjust gap for different tablet sizes */
    margin-left: 0%;
  }
  
  /* Styles for individual tab buttons */
  .MuiButtonBase-root.MuiTab-root {
    padding: 40px;
    background-color: rgba(147, 193, 222, 0.8);
    border-radius: 10px;
    color: black;
  }
  
  /* Styles for list items inside the tab container */
  .tabs-container li {
    font-size: 18px;
    color: red;
  }
}
