.tabs-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: min-content;
  flex-wrap: wrap;
  gap: 180%;
  margin-left: 10%;
}

/* Styles for individual tab buttons */
.MuiButtonBase-root.MuiTab-root {
  padding: 60px;
  background-color: rgba(147, 193, 222, 0.8);
  border-radius: 10px;
  color: black;
}

/* Styles for list items inside the tab container */
.tabs-container li {
  font-size: 18px;
  color: red;
}

/* Responsive styles for mobile devices */
@media screen and (max-width: 426px) {
  .tabs-container {
    gap: 0%;
    margin-left: 0%;
    flex-direction: inherit;
  }
  
  /* Styles for individual tab buttons */
  .MuiButtonBase-root.MuiTab-root {
    padding: 0px;
    background-color: rgba(147, 193, 222, 0.8);
    border-radius: 10px;
    color: black;
  }
}

/* Responsive styles for tablet devices */
@media screen and (max-width: 769px) {
  .tabs-container {
    gap: 80%;
    margin-left: 0%;
  }
  
  /* Styles for individual tab buttons */
  .MuiButtonBase-root.MuiTab-root {
    padding: 10px 10px;
    background-color: rgba(147, 193, 222, 0.8);
    border-radius: 10px;
    color: black;
  }
  
  /* Styles for list items inside the tab container */
  .tabs-container li {
    font-size: 18px;
    color: red;
  }
}
